In [1]:
import mysql.connector

In [2]:
mydatabase = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "sahil@123"
)

In [3]:
mycursor = mydatabase.cursor()

In [4]:
mycursor.execute("CREATE DATABASE mydatabase")

In [6]:
mycursor.execute("SHOW DATABASES")
 
for i in mycursor:
    print(i)
mycursor = mydatabase.cursor()

mydatabase.close()

('class',)
('electricity_bill_management',)
('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [7]:
db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="sahil@123",
    database="mydatabase"
)
 
c = db.cursor()

employeetbl_create = """CREATE TABLE `mydatabase`.`tblemployee` (
  `empid` INT NOT NULL AUTO_INCREMENT,
  `empname` VARCHAR(45) NULL,
  `department` VARCHAR(45) NULL,
  `salary` INT NULL,
   PRIMARY KEY (`empid`))"""
 
c.execute(employeetbl_create)
 
c = db.cursor()

c.execute("desc tblemployee")

for i in c:
    print(i)

db.close()

('empid', 'int', 'NO', 'PRI', None, 'auto_increment')
('empname', 'varchar(45)', 'YES', '', None, '')
('department', 'varchar(45)', 'YES', '', None, '')
('salary', 'int', 'YES', '', None, '')

In [8]:
db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="sahil@123",
    database="mydatabase"
)
 
c = db.cursor()

employeetbl_insert = """INSERT INTO tblemployee (
   empname,
   department,
   salary) 
   VALUES  (%s, %s, %s)"""

data = [("Vighnesh", "HR", "200000"),
        ("Krishna", "Accounts", "70000"),
        ("Aditi", "Sales", "35000"),
        ("Govinda", "Marketing", "50000")]
 
c.executemany(employeetbl_insert, data)
db.commit()

db.close()

In [9]:
db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="sahil@123",
    database="mydatabase"
)
 
c = db.cursor()

employeetbl_select = """SELECT * FROM tblemployee"""
 
c.execute(employeetbl_select)

employee_data = c.fetchall()

for e in employee_data:
    print(e)

db.close()

(1, 'Vighnesh', 'HR', 200000)
(2, 'Krishna', 'Accounts', 70000)
(3, 'Aditi', 'Sales', 35000)
(4, 'Govinda', 'Marketing', 50000)

In [15]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="sahil@123",
    database="mydatabase"
)

c = db.cursor()

employeetbl_update = "UPDATE tblemployee SET salary = 115000 WHERE empid = 1"
c.execute(employeetbl_update)

db.commit()

db.close()

In [16]:
db = mysql.connector.connect(
	host="localhost",
	user="root",
	passwd="sahil@123",
	database="mydatabase"
)

c = db.cursor()

employeetbl_delete = "DELETE FROM tblemployee WHERE empid=2"

c.execute(employeetbl_delete)
db.commit()

db.close()